@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
    background-image: url("https://raw.githubusercontent.com/Wilmertjuntado/work-images/main/pexels-tianwang-xiao-3716873.webp");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.teaMenu {
    background-color: rgba(87, 180, 118, 0.5);
    padding: 20px;

}

.teaItem p {
    /* background-color: aliceblue; */
    display: inline-block;
}

.teaFlavor, .teaCollection {
    background-color: rgb(26, 103, 170);
    text-align: left;
    width: 75%;
}

.teaPrices, .collectionPrice {
    background-color: aliceblue;
    text-align: right;
    width: 25%;
}


